Node-red/flows.json
[{"id":"6308bc8f.5bfc24","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cfe96242.0baf6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f64cd68b.1f2068","type":"mqtt-broker","z":"","name":"Raspberry-Broker","broker":"192.168.0.232","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2f898986.72fc06","type":"MySQLdatabase","z":"","name":"Laravel DB","host":"127.0.0.1","port":"3306","db":"laravel","tz":""},{"id":"f977c289.757e5","type":"mysql","z":"6308bc8f.5bfc24","mydb":"2f898986.72fc06","name":"mysql DB","x":480,"y":100,"wires":[[]]},{"id":"e475120d.6cc4f","type":"mqtt in","z":"6308bc8f.5bfc24","name":"MQTT Broker","topic":"#","qos":"2","datatype":"json","broker":"f64cd68b.1f2068","x":170,"y":260,"wires":[["8adfe7fe.61f1a8","f6b74179.1c0f"]]},{"id":"f6b74179.1c0f","type":"function","z":"6308bc8f.5bfc24","name":"","func":"//msg.payload=[24, 'example-user'];\nd=msg.payload.device;\nt=msg.payload.temperature;\nh=msg.payload.humidity;\n\nmsg.topic=\"INSERT INTO log_datos (`id`,`dispositivo`,`temperatura`,`humedad`,`tiempo`) VALUES (NULL,\"+d+\",\"+t+\",\"+h+\",NULL);\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":160,"wires":[["f977c289.757e5","8adfe7fe.61f1a8"]]},{"id":"8adfe7fe.61f1a8","type":"debug","z":"6308bc8f.5bfc24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":260,"wires":[]}]